@import 'src/styles/variables.scss';

.radioButton {
    border-radius: 2px;
    text-align: center;
    width: 100%;
}

.hiddenInput {
    display: none;
}

.hiddenInput:checked + label {
    background-color: $color-green;
}

.label {
    cursor: pointer;
    user-select: none;
    padding: $size-xsmall $size-small;
    background-color: $color-dark;
    color: $color-white;
    display: block;
}
